<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <app-header title="Agregar Nuevo Movimiento"></app-header>
    <ion-segment [(ngModel)]="selectedTab" (ionChange)="navigateTo(selectedTab)">
      <ion-segment-button value="gastos">
        Gastos
      </ion-segment-button>
      <ion-segment-button value="ingresos">
        Ingresos
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <!-- Componente dinámico basado en la pestaña seleccionada -->
  <ng-container *ngIf="selectedTab === 'gastos'">
    <app-gastos></app-gastos>
  </ng-container>
  <ng-container *ngIf="selectedTab === 'ingresos'">
    <app-ingresos></app-ingresos>
  </ng-container>
</ion-content>
