<ion-content [fullscreen]="true">
  <ion-grid class="custom-grid">
    <ion-row class="custom-row">
      <ion-col size="4" *ngFor="let ingreso of ingresos; let i = index" [ngClass]="{'hidden': i >= 12}" class="custom-col">
        <ion-card class="custom-card" (click)="onCardClick(ingreso)">
          <img class="card-img" [src]="ingreso.url" alt="Imagen de Gasto" />
          <ion-card-content class="card-content">
            <span class="card-text">{{ ingreso.descripcion }}</span>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
