<ion-header>
  <ion-toolbar>
    <ion-title  size="small"> Nuevo Registro</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="modal-content">

    <div class="image-container">
      <img [src]="ingreso.url" alt="Imagen de Gasto" />
    </div>

    <h2>{{ ingreso.descripcion }}</h2>

    <ion-item>
      <ion-label position="stacked">Monto</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="monto"
        placeholder="Ingresa un monto"
        required>
      </ion-input>
    </ion-item>

    <div class="button-container">
      <ion-button expand="full" (click)="guardarMonto()">
        <ion-icon name="save-outline" slot="start"></ion-icon>
        Guardar Monto
      </ion-button>
    </div>
  </div>
</ion-content>
