<ion-header>
  <ion-toolbar color="primary">
    <ion-title size="small">Editar Registro</ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="closeModal()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="modal-content">
    <ion-card>
      <ion-card-header>
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="9" class="description-container">
              <ion-card-title class="ion-text-wrap" color="danger">
                {{ ingreso?.description || 'Sin Descripción' }}
              </ion-card-title>
              <ion-text *ngIf="ingreso?.fecha" class="date-info">
                Fecha: {{ ingreso?.fecha | date: 'shortDate' }}
              </ion-text>
            </ion-col>
            <ion-col size="3" class="icon-container">
              <ion-icon name="medkit-outline" size="large"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
      <ion-card-content>
        <ion-item lines="full">
          <ion-label position="stacked" color="primary">Actualizar Monto</ion-label>
          <ion-input
            type="number"
            [(ngModel)]="monto"
            placeholder="Ingresa nuevo Monto"
            required>
          </ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <div class="button-container">
      <ion-button
        expand="block"
        shape="round"
        color="danger"
        (click)="deleteRegistro()">
        <ion-icon name="trash-outline" slot="start"></ion-icon>
        Eliminar Registro
      </ion-button>
      <ion-button
        expand="block"
        shape="round"
        color="primary"
        (click)="editarMonto()">
        <ion-icon name="save-outline" slot="end"></ion-icon>
        Actualizar Monto
      </ion-button>
    </div>
  </div>
</ion-content>
