<ion-tabs>
  <ion-tab-bar slot="bottom" color="tertiary" mode="md">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home-outline"></ion-icon>
      <span class="padding-span"> Inicio </span>
    </ion-tab-button>
    <ion-tab-button tab="categoria" href="/tabs/categoria">
      <ion-icon name="add-circle-outline"></ion-icon>
      <span class="padding-span"> Agregar Categoria </span>
    </ion-tab-button>
    <ion-tab-button tab="gastos" href="/tabs/gastos">
      <ion-icon name="cellular-outline"></ion-icon>
      <span class="padding-span"> Reportes </span>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
