
<ion-content class="ion-padding" fullscreen>
  <div class="login-container">
    <div class="overlay-text">
      <h2 class="yala"> YALA APP </h2>
      <span class="gastos-diarios">GASTOS DIARIOS</span>
    </div>

    <div class="image-container">
      <img src="./../../../assets/monedero.png" alt="Google Dinner" class="login-image" />
    </div>
    <div class="divider"> </div>

    <form [formGroup]="loginForm" (ngSubmit)="loginWithEmailAndPassword()">
      <ion-item class="email-input" lines="none">
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item class="password-input" lines="none">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" [disabled]="loginForm.invalid">
        Iniciar Sesión
      </ion-button>
    </form>

    <div class="divider">
      <span>OR</span>
    </div>

    <ion-button expand="block" fill="solid" class="google-login-button" (click)="loginWithGoogle()">
      <ion-icon slot="start" name="logo-google"></ion-icon>
      Login with Google
    </ion-button>

    <p class="register-link">
      ¿No tienes cuenta? <a (click)="navigateToRegister()">Regístrate aquí</a>
    </p>

  </div>
</ion-content>


