<ion-content class="ion-padding" fullscreen>
  <div class="login-container">
    <div class="overlay-text">
      <h2 class="yala">YALA</h2>
      <span class="gastos-diarios">GASTOS DIARIOS</span>
    </div>
    <div class="image-container">
      <img src="./../../../assets/monedero.png" alt="Google Login" class="login-image" />
    </div>

    <ion-button expand="full" (click)="loginWithGoogle()">
      <ion-icon slot="start" name="logo-google"></ion-icon>
      Iniciar Sesión
    </ion-button>

  </div>
</ion-content>
