.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  .overlay-text {
    position: absolute; /* Posicionamiento absoluto para superponer sobre la imagen */
    top: 10%; /* Ajusta este valor si es necesario */
    left: 50%; /* Centrar horizontalmente */
    transform: translate(-50%, 0); /* Solo centra horizontalmente */
    text-align: center; /* Centra el texto */
    color: white; /* Color del texto */

    .yala {
      font-size: 2rem; /* Tamaño del texto "YALA" */
      font-weight: bold; /* Puedes hacer el texto en negrita */
    }

    .gastos-diarios {
      font-size: 1rem; /* Tamaño más pequeño para "GASTOS DIARIOS" */
      color: rgba(255, 255, 255, 0.8); /* Color del texto, un poco más suave */
    }
  }

  .image-container {
    position: relative; /* Necesario para el posicionamiento del texto */
    margin-bottom: 20px; /* Espacio entre la imagen y el botón */
  }

  .login-image {
    width: 150px; /* Ancho de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  }

  ion-button {
    --color: white; /* Color del texto */
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 12px; /* Esquinas redondeadas */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra en el botón */

    ion-icon {
      margin-right: 25px; /* Aumenta el espacio entre el icono y el texto */
    }
  }
}
