@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');

:root {
  --font-family-ui: 'Rubik Wet Paint', sans-serif;
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #000000;
  padding: 20px;
  font-family: 'Rubik Wet Paint', sans-serif;
}

.overlay-text {
  text-align: center;
  margin-bottom: 20px;

  .yala {
    font-size: 2em;
    font-weight: bold;
    font-family: 'Rubik Wet Paint', sans-serif;
  }

  .gastos-diarios {
    font-size: 1em;
    color: #6c757d;
    font-family: 'Rubik Wet Paint', sans-serif;
  }
}

form {
  width: 100%;
  max-width: 300px;
  font-family: 'Rubik Wet Paint', sans-serif;
}

.email-input ion-label,
.password-input ion-label,
.confirm-password-input ion-label {
  color: #007bff;
  font-family: 'Rubik Wet Paint', sans-serif;
}

.email-input,
.password-input,
.confirm-password-input {
  margin-bottom: 15px;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: #6c757d;
  margin: 20px 0;
  font-family: 'Rubik Wet Paint', sans-serif;
  &::before,
  &::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #dee2e6;
  }

  &::before {
    margin-right: 10px;
  }

  &::after {
    margin-left: 10px;
  }
}

.google-login-button {
  --background: #4285f4;
  --background-hover: #357ae8;
  --color: white;
  margin-top: 10px;
  font-family: 'Rubik Wet Paint', sans-serif;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  .register-image {
    width: 100px;
    height: auto;
  }
}

.login-link {
  text-align: center;
  margin-top: 16px;
  font-size: 14px;
  color: var(--ion-color-medium);
}

.login-link a {
  color: var(--ion-color-primary);
  cursor: pointer;
}
