<ion-content class="ion-padding" fullscreen>
  <div class="register-container">
    <div class="overlay-text">
      <h2 class="yala">YALA</h2>
      <span class="gastos-diarios">GASTOS DIARIOS</span>
    </div>

    <div class="image-container">
      <img src="./../../../assets/monedero.png" alt="Registro de Usuario" class="register-image" />
    </div>
    <div class="divider"> </div>

    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <ion-item class="email-input" lines="none">
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item class="password-input" lines="none">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>

      <ion-item class="confirm-password-input" lines="none">
        <ion-label position="floating">Confirmar Contraseña</ion-label>
        <ion-input type="password" formControlName="confirmPassword"></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" [disabled]="registerForm.invalid">
        Registrarse
      </ion-button>
    </form>

    <p class="login-link">
      ¿Ya tienes cuenta? <a (click)="navigateToLogin()">Inicia Sesión aquí</a>
    </p>

  </div>
</ion-content>
