<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-grid>
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col size="3" class="ion-text-center">
          <ion-icon name="calendar-clear" size="small"></ion-icon>
        </ion-col>
        <ion-col size="6" class="ion-text-center">
          <h6 class="custom-title">{{ currentDate }}</h6>
        </ion-col>
        <ion-col size="3" class="ion-text-center">
          <ion-icon name="person" size="small"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="no-padding-grid">
      <ion-row class="ion-align-items-stretch ion-justify-content-center no-padding-row">
        <!-- Columna Gastos -->
        <ion-col size="3" class="ion-text-center no-padding-col">
          <ion-item lines="none" class="custom-item small-item">
            <ion-label>
              <h6>Gastos</h6>
              <p>S./ 15.00</p>
            </ion-label>
          </ion-item>
        </ion-col>

        <!-- Columna Ingresos -->
        <ion-col size="3" class="ion-text-center no-padding-col">
          <ion-item lines="none" class="custom-item small-item">
            <ion-label>
              <h6>Ingresos</h6>
              <p>S./ 15.00</p>
            </ion-label>
          </ion-item>
        </ion-col>

        <!-- Columna Saldo -->
        <ion-col size="3" class="ion-text-center no-padding-col">
          <ion-item lines="none" class="custom-item small-item">
            <ion-label>
              <h6>Saldo</h6>
              <p>S./ 15.00</p>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>




  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
